body {
  font-family: Calibri;
  font-weight: 600;
  font-size: 1.1rem;
}
.homepage {
  background-color: lavenderblush;
  padding:2rem;
}
img {
  height: 300px;
  width: 200px;
  margin-bottom: 2rem;
}
.nav {
  background-color: lavender;
}
.link {
  text-decoration: none;
  color: darkblue;
  font-size: 1.5rem;
}
table,
th,
td {
  border: 1px #333 solid;
  padding: 5px;
}
